@using ConstData
@using ObjectInfo
@model int
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int page_type = Model;

    List<PackgeInfo> _LstAllPackge = new List<PackgeInfo>();
    PackgeInfo _packgeInfo = new PackgeInfo();
    MemberPackgeInfo _memberPackge = new MemberPackgeInfo();

    if (page_type == 1)
    {
        ViewData["Title"] = "Đăng ký gói tập";
        _LstAllPackge = ViewBag.LstAllPackge != null ? ViewBag.LstAllPackge : new List<PackgeInfo>();
    }

    else if (page_type == 2)
    {
        ViewData["Title"] = "Gia hạn gói tập";
        _packgeInfo = ViewBag.PackgeInfo != null ? ViewBag.PackgeInfo : new PackgeInfo();
        _memberPackge = ViewBag.memberPackgeInfo != null ? ViewBag.memberPackgeInfo : new MemberPackgeInfo();

    }

    MemberCardInfo _memberCard = ViewBag.MemberCardInfo != null ? ViewBag.MemberCardInfo : new MemberCardInfo();
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="row">
    @if (page_type == 1)
    {
        <h4 class="main-title">QUẢN LÝ KHÁCH HÀNG > QUẢN LÝ GÓI TẬP > ĐĂNG KÝ</h4>
    }
    else if (page_type == 2)
    {
        <h4 class="main-title">QUẢN LÝ KHÁCH HÀNG > QUẢN LÝ GÓI TẬP > GIA HẠN</h4>
    }

</div>

<form class="forms-sample" id="formPackgeSign">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin khách hàng</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <label for="exampleInputUsername1">Mã khách hàng:</label>
                                        <input type="text" disabled class="form-control" id="txtMemberCardId"
                                               placeholder="" value="@_memberCard.Id">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <label for="exampleInputUsername1">Họ và tên:</label>
                                        <input type="text" disabled class="form-control" id="txtMemberName"
                                               placeholder="" value="@_memberCard.Name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <label for="exampleInputUsername1">Loại khách hàng:</label>
                                        <input type="text" disabled class="form-control" id="txtMemberTypeText"
                                               placeholder="" value="@_memberCard.TypeMemberName">
                                        <input type="text" hidden id="txtMemberType" value="@_memberCard.TypeMemberId">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <label for="exampleInputUsername1">Giảm giá từ loại khách hàng(%):</label>
                                        <input type="text" disabled class="form-control" id="txtMemberDiscount"
                                               placeholder="" value="@_memberCard.Discount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="col-lg-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin gói tập</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="flex-report" style="margin-left: 10px;">
                                <label for="exampleInputPassword1">Chọn gói<code>(*)</code>:</label>
                                @if (page_type == 1)
                                {
                                    <select class="form-control" id="cbdPackge" onchange="onChangePackge();">
                                        @foreach (var item in _LstAllPackge)
                                        {
                                            <option value="@item.Id" data-price="@item.PriceAfterDiscount">@item.Name</option>
                                        }
                                    </select>
                                }
                                else if (page_type == 2)
                                {
                                    <select disabled class="form-control" id="cbdPackge" onchange="onChangePackge();">
                                        <option value="@_packgeInfo.Id" data-price="@_packgeInfo.PriceAfterDiscount">
                                            @_packgeInfo.Name
                                        </option>
                                    </select>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" disabled class="form-control" id="txtTotalByPackge" placeholder=""
                               value="0">
                    </div>

                    <fieldset class="group-box">
                        <legend>Thời hạn</legend>
                        <div class="row">
                            <label class="col-3 option_item">
                                <input type="radio" name="radio" class="checkbox" id="rd1" value="1"
                                       onchange="onChangeBondPeriod()">
                                <div class="option_inner">
                                    <div class="tickmark"></div>
                                    <div class="content_checkbox">
                                        <div class="title">1 tháng</div>
                                        <div class="description">
                                            <p>
                                                <i class="far fa-check-circle"></i> Sử dụng tất cả các thiết bị trong khu vực
                                            </p>
                                        </div>
                                        <div class="price" id="card1">0đ</div>

                                    </div>
                                </div>
                            </label>

                            <label class="col-3 option_item">
                                <input type="radio" name="radio" class="checkbox" id="rd1" value="3"
                                       onchange="onChangeBondPeriod()">
                                <div class="option_inner">
                                    <div class="tickmark"></div>
                                    <div class="content_checkbox">
                                        <div class="title">3 tháng</div>
                                        <div class="description">
                                            <p>
                                                <i class="far fa-check-circle"></i> Sử dụng tất cả các thiết bị trong khu vực
                                            </p>
                                            <p><i class="far fa-check-circle"></i> Tặng 1 gói pre-workout</p>
                                        </div>
                                        <div class="price" id="card3">0đ</div>

                                    </div>
                                </div>
                            </label>

                            <label class="col-3 option_item">
                                <input type="radio" name="radio" class="checkbox" id="rd1" value="6"
                                       onchange="onChangeBondPeriod()">
                                <div class="option_inner">
                                    <div class="tickmark"></div>
                                    <div class="content_checkbox">
                                        <div class="title">6 tháng</div>
                                        <div class="description">
                                            <p>
                                                <i class="far fa-check-circle"></i> Sử dụng tất cả các thiết bị trong khu vực
                                            </p>
                                            <p><i class="far fa-check-circle"></i> Tặng 1 gói pre-workout</p>
                                            <p><i class="far fa-check-circle"></i> Tặng 1 găng tay</p>
                                        </div>
                                        <div class="price" id="card6">0đ</div>

                                    </div>
                                </div>
                            </label>

                            <label class="col-3 option_item">
                                <input type="radio" name="radio" class="checkbox" id="rd1" value="12"
                                       onchange="onChangeBondPeriod()">
                                <div class="option_inner">
                                    <div class="tickmark"></div>
                                    <div class="content_checkbox">
                                        <div class="title">1 năm</div>
                                        <div class="description">
                                            <p>
                                                <i class="far fa-check-circle"></i> Sử dụng tất cả các thiết bị trong khu vực
                                            </p>
                                            <p><i class="far fa-check-circle"></i> Tặng 1 gói pre-workout</p>
                                            <p><i class="far fa-check-circle"></i> Tặng 1 găng tay</p>
                                        </div>
                                        <div class="price" id="card12">0đ</div>

                                    </div>
                                </div>
                            </label>

                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Mã giảm giá</h4>
                    <div class="flex-report px-2" style="margin-bottom: 0;">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtVoucherCode"
                                       placeholder="Nhập mã giảm giá">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-primary" onclick="getInfoVoucher();">Áp dụng</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="description-voucher px-2" id="txtVourcherContent"></label>

                    <div class="px-2">
                        <input type="text" disabled class="form-control" id="txtVourcherContent" placeholder="" hidden>
                        <input type="text" id="txtVourcherDiscount" hidden>
                    </div>

                    <div class="border-bottom"></div>


                    <h4 class="card-title">Phương thức thanh toán</h4>
                    <div class=" px-2">
                        <label class="method-payment">
                            <input type="radio" name="radio1" class="checkbox" id="rd1" value="1">
                            <div class="option_inner">
                                <div class="tickmark"></div>
                                <div class="content_checkbox">
                                    <div class="title">Tiền mặt</div>
                                </div>
                            </div>
                        </label>

                        <label class="method-payment">
                            <input type="radio" name="radio1" class="checkbox" id="rd1" value="3">
                            <div class="option_inner">
                                <div class="tickmark"></div>
                                <div class="content_checkbox">
                                    <div class="title">Chuyển khoản</div>
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="border-bottom"></div>

                    <h4 class="card-title">Thông tin thanh toán</h4>

                    <div class="d-flex flex-column dis px-2" style="color: #fff; font-size: 14px; font-weight: normal;">
                        <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 0;">
                            <p>Giảm giá voucher (đ)</p>
                            <p id="txtDiscountByVoucher">0</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 0;">
                            <p>Giảm giá thành viên (đ)</p>
                            <p id="txtDiscountByMember">0</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 0;">
                            <p>Tổng giảm (đ)</p>
                            <p id="txtTotalDiscount">0</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 0;">
                            <p>Thành tiền (đ)</p>
                            <p id="txtTotalPrice"></p>
                        </div>
                        @*<div class="d-flex align-items-center justify-content-between mb-2">
                            <p style="width: 300px">Tiền khách trả (đ)<code>(*)</code></p>
                            <p id="">
                            <input type="number" class="form-control" id="txtCash" placeholder="" value="0"
                            onblur="onChangeGhiNo();">
                            </p>
                            </div>*@
                        @*<div class="d-flex align-items-center justify-content-between mb-2">
                            <p>Ghi nợ (đ)</p>
                            <p id="txtDebit"></p>
                            </div>*@
                    </div>

                    <div class="border-bottom"></div>

                    <div class="form-button">
                        <button type="submit" class="btn-payment">Thanh toán</button>
                        <button class="btn-close-payment" onclick="window.history.back();">Thoát</button>
                    </div>
                </div>

                <input type="hidden" id="txtCountPackge" value="@_LstAllPackge.Count.ToString()">
                <input type="hidden" id="txtMemberPackgeId" value="@_memberPackge.Id.ToString()">
                <input type="hidden" id="txtUnactiveDate" value="@_memberPackge.UnActiveDay.ToString()">
            </div>
        </div>
    </div>
</form>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="e1_14">
            <div class="e1_15">
                <span class="e1_16">Cảnh báo</span>
                <div class="e1_17"></div>
            </div>
            <span class="close" onclick="GoCancel()">&times;</span>
        </div>
        <div class="pb-text">
            <span class="e1_18">Khách hàng này đã được đăng ký tất cả các gói tập trong hệ thống, nhấn đồng ý để quay lại và chọn gia hạn gói tập?</span>

        </div>

        <div class="button-container">
            <button type="button" class="btn btn-primary confirm-btn " onclick="GoCancel()">Đồng ý</button>
            @*<button type="button" class="btn btn-secondary cancel-btn" onclick="HideModal()">Hủy</button>*@

        </div>
    </div>
</div>

<script>
    function GoCancel(){
        window.history.back();
    }

    $(document).ready(function () {
        if($('#txtCountPackge').val() <= 0 && @page_type == 1){
            $("#myModal").show();
        }
        onChangePackge();
    });

    function handleTotal() {
        let _discountByVoucher = $('#txtDiscountByVoucher').text() == '0' ? '' : parseInt($('#txtDiscountByVoucher').text().text().replace(' ₫','').replace(',',''));
        //tính giảm giá của thành viên
        let _discountByMember = $('#txtTotalByPackge').val() * ($('#txtMemberDiscount').val() / 100);
        $('#txtDiscountByMember').text('');
        $('#txtDiscountByMember').text(formatCurrency(_discountByMember));

        //tính tổng giảm giá
        let _sumDiscount = _discountByVoucher + parseInt($('#txtDiscountByMember').text().replace(' ₫','').replace(',',''));
        $('#txtTotalDiscount').text('');
        $('#txtTotalDiscount').text(formatCurrency(_sumDiscount));

        //tính thành tiền
        let _totalPrice = $('#txtTotalByPackge').val() - parseInt($('#txtTotalDiscount').text().replace(' ₫','').replace(',',''));
        $('#txtTotalPrice').text('');
        $('#txtTotalPrice').text(formatCurrency(_totalPrice));
    }

    //function onChangeGhiNo(){
    //    let _debit = parseInt($('#txtTotalPrice').text()) - $('#txtCash').val();
    //    $('#txtDebit').text('');
    //    $('#txtDebit').text(_debit);
    //}

    function onChangePackge() {
        let price = $("#cbdPackge option:selected").attr("data-price");

        $("#card1").text(formatCurrency(price * 1));
        $("#card3").text(formatCurrency(price * 3));
        $("#card6").text(formatCurrency(price * 6));
        $("#card12").text(formatCurrency(price * 12));

        var _bondPeriod = $("input[name='radio']:checked").val() == undefined ? 0 : $("input[name='radio']:checked").val();
        $('#txtTotalByPackge').val(_bondPeriod * price);

        handleTotal();
    }

    function onChangeBondPeriod() {
        let price = $("#cbdPackge option:selected").attr("data-price");
        var _bondPeriod = $("input[name='radio']:checked").val() == undefined ? 0 : $("input[name='radio']:checked").val();

        $('#txtTotalByPackge').val(_bondPeriod * price);

        handleTotal();
    }

    function formatCurrency(amount) {
        // Định dạng số tiền thành chuỗi có dấu phân cách hàng nghìn
        let formattedAmount = amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Thêm ký tự ngàn và ký tự đơn vị cuối chuỗi
        formattedAmount = formattedAmount + ' ₫';

        return formattedAmount;
    }

    function getInfoVoucher() {
        try {
            let _discount = 0;
            if ($('#txtVoucherCode').val() == '' || $('#txtVoucherCode').val() == undefined) {
                return;
            }

            $.ajax({
                type: 'GET',
                enctype: "multipart/form-data",
                url: '/goi-tap-cua-thanh-vien/tim-ma-giam-gia',
                data: {
                    code: $('#txtVoucherCode').val()
                },
                success: function (data) {
                    if (data.success > 0 && data.jsonData != null) {
                        var _voucher = JSON.parse(data.jsonData);

                        if(_voucher != null){
                            console.log(_voucher);
                            if (_voucher.Id > 0 && _voucher.Count > 0 && _voucher.Status == '@VoucherStatus.HieuLuc') {
                                $('#txtVourcherContent').text(_voucher.Description);

                                if (_voucher.VoucherType == @VoucherType.PhanTram) {
                                    _discount = $('#txtTotalByPackge').val() * _voucher.Discount / 100;
                                } else if (_voucher.VoucherType == @VoucherType.Tien) {
                                    _discount = _voucher.Discount;
                                }

                                //$('#txtDiscountByVoucher').text('');
                                $('#txtDiscountByVoucher').text(formatCurrency(_discount));

                                handleTotal();

                                ShowSuccess('Sử dụng mã giảm giá thành công!');
                            } else {
                                $('#txtVourcherContent').text();
                                ShowError('Mã giảm giá không tồn tại hoặc đã hết lượt/hạn sử dụng!');
                            }
                        }else{
                            $('#txtVourcherContent').text();
                            ShowError('Mã giảm giá không tồn tại!');
                        }
                    } else {
                        $('#txtVourcherContent').text();
                        ShowError('Mã giảm giá không tồn tại!');
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });

        } catch (ex) {
            console.log(ex);
        }
    }

    //submit
    $('#formPackgeSign').on('submit', function (e) {
        try {
            e = window.event || e;
            e.preventDefault();

            if (Validate()) {
                var formData = new FormData(this);

                //formData.set("Cash", $('#txtCash').val());
                formData.set("Discount", parseInt($('#txtTotalDiscount').text().replace(' ₫','').replace(',','')));

                formData.set("Total", $('#txtTotalByPackge').val());
                //if( parseInt($('#txtDebit').text()) > 0){
                //    formData.set("InvoiceType", 1);
                //}
                //else{
                //    formData.set("InvoiceType", 0);
                //}
                formData.set("Voucher", $('#txtVoucherCode').val());

                var _bondPeriod = $("input[name='radio']:checked").val() == undefined ? 0 : $("input[name='radio']:checked").val();
                formData.set("PackgePeriod", _bondPeriod);

                formData.append("_memberPackge.Id", $("#txtMemberPackgeId").val());
                formData.append("_memberPackge.MemberCardId", $("#txtMemberCardId").val());
                formData.append("_memberPackge.PackgeId", $("#cbdPackge").val());
                formData.append("_memberPackge.UnActiveDay", $("#txtUnactiveDate").val());

                $.ajax({
                    type: 'POST',
                    enctype: "multipart/form-data",
                    url: '/goi-tap-cua-thanh-vien/thanh-toan',
                    data: formData
                    ,
                    beforeSend: function () {
                        SpinLoading(true);
                    },
                    contentType: false, processData: false,
                    success: function (data) {
                        if (data != null) {
                            if (data.success > 0) {
                                if (data.invoiceTemp != null) {
                                    var mode = 'iframe'; //popup
                                    var extraCss = '';
                                    var keepAttr = ['class', 'id', 'style', 'on'];
                                    var headElements = '<meta charset="utf-8" />,<meta http-equiv="X-UA-Compatible" content="IE=edge"/>';
                                    var options = { mode: mode, extraCss: extraCss, retainAttr: keepAttr, extraHead: headElements };

                                    printArea(data.invoiceTemp, options);
                                }

                                ShowSuccess(data.message);

                                setTimeout(() => {
                                    window.location.href = "/khach-hang/danh-sach";
                                    window.history.back();
                                }, 2000);
                            } else {
                                ShowError(data.message);
                                SpinLoading(false);
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    },
                    complete: function () {
                        SpinLoading(false);
                    }
                });
            }
        } catch (ex) {
            console.log(ex);
        }
    });

    function Validate() {
        //var _cashToHand = parseInt( $("#txtCash").val());
        //var _totalPrice = parseInt( $("#txtTotalPrice").text());
        //var _cashValid = _totalPrice;

        //_cashValid = _totalPrice * 0.7;

        // if (!_cashToHand) {
        //     alert("Tiền khách trả không được để trống!");
        //     return false;
        // }
        //if (_cashToHand > _totalPrice) {
        //     alert("Tiền khách trả không được lớn hơn tổng tiền!");
        //     return false;
        // }
        // if (_cashToHand < _cashValid) {
        //     alert("Tiền khách cần trả ít nhất là " + _cashValid + " đ");
        //     return false;
        // }
        if (!$("#cbdPackge").val()) {
            ShowError("Bạn phải chọn gói tập");
            return false;
        }

        if (!$("input[name='radio']:checked").val()) {
            ShowError("Bạn phải chọn thời hạn để tiếp tục!");
            return false;
        }

        return true;
    }
</script>