@using ObjectInfo
@using ConstData;
@{
    List<UserInfo> _lstData = ViewBag.LstData != null ? ViewBag.LstData : new List<UserInfo>();
}
<h4 class="card-title">Kết quả tìm kiếm</h4>
<div class="main-table-responsive">
    <table>
        <thead>
            <tr>
                <th>Tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Địa chỉ</th>
                <th>SĐT</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @if (_lstData != null && _lstData.Count > 0)
            {
                foreach (var item in _lstData)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Birthday.ToString("dd/MM/yyyy")</td>
                        <td>@item.Sex</td>
                        <td>@item.Address</td>
                        <td>@item.Phone</td>
                        <td>
                            <div class="divButton">
                                <button class="button-table" onclick="location.href = '/nhan-vien/chi-tiet/@item.Id'">
                                    <img src="/css/image/view.png" />
                                </button>
                                <div class="tooltip-table">Xem</div>
                            </div>
                            <div class="divButton">
                                <button class="button-table" onclick="location.href = '/nhan-vien/cap-nhat/@item.Id'"><img src="/css/image/edit.png" /></button>
                                <div class="tooltip-table">Cập nhật</div>
                            </div>
                            <div class="divButton">
                                <button class="button-table" onclick=""><img src="/css/image/delete.png" /></button>
                                <div class="tooltip-table">Xóa</div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Không có dữ liện</td>
                </tr>
            }

        </tbody>
    </table>
</div>