@using ConstData
@using ObjectInfo
@{
    ViewData["Title"] = "Cập nhật thông tin nhân vên";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UserInfo _info = ViewBag.StaffInfo != null ? ViewBag.StaffInfo : new UserInfo();
}
<div class="row">
    <form id="formStaffUpdate">
        <input hidden value="@_info.Id" id="tmpId" />
        <div class="card">
            <div class="card-body">
                <div class="group">
                    <div class="title-group">
                        <h4 class="card-title ">Thông tin cá nhân</h4>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Tên nhân viên<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="staffName" placeholder="Tên nhân viên" value="@_info.Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Ngày sinh<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="date" id="dpBirthday" placeholder="" value="@_info.Birthday.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Giới tính<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <select class="form-control" id="sex">
                                                @if (_info.Sex == MemberSex.nu)
                                                {
                                                    <option value="Nữ" selected>Nữ</option>
                                                }
                                                else
                                                {
                                                    <option value="Nữ">Nữ</option>
                                                }

                                                @if (_info.Sex == MemberSex.nam)
                                                {
                                                    <option value="Nam" selected>Nam</option>
                                                }
                                                else
                                                {
                                                    <option value="Nam">Nam</option>
                                                }

                                                @if (_info.Sex == MemberSex.khac)
                                                {
                                                    <option value="Khác" selected>Khác</option>
                                                }
                                                else
                                                {
                                                    <option value="Khác">Khác</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Số diện thoại<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="phone" placeholder="Số diện thoại" value="@_info.Phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Địa chỉ<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="address" placeholder="" value="@_info.Address">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Số CMND/CCCD<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="identity" placeholder="Số CMND/CCCD" value="@_info.IdentityCard">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-form">
                            <button type="submit" class="btn btn-success px-5"><i class="bx bx-home mr-1"></i>Lưu</button>
                            <button type="button" class="btn btn-danger px-5 ml-1" onclick="history.back();"><i class="bx bx-bookmark mr-1"></i>Thoát</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<script>
    //submit
    $('#formStaffUpdate').on('submit', function (e) {
        try {
            e = window.event || e;
            e.preventDefault();
            if (Validate()) {
                $.ajax({
                    type: 'POST',
                    enctype: "multipart/form-data",
                    url: '/nhan-vien/cap-nhat',
                    data: new FormData(this),
                    beforeSend: function () {
                        SpinLoading(true);
                    },
                    contentType: false, processData: false,
                    success: function (data) {
                        if (data != null && data.success > 0) {
                            SpinLoading(false);
                            ShowSuccess(data.message);
                            setTimeout(() => {
                                window.location.href = "/nhan-vien/danh-sach";
                            }, 2000);
                        } else {
                            SpinLoading(false);
                            ShowError(data.message);
                        }
                    }
                },
                    error: function (data) {
                        console.log(data);
                    },
                    complete: function () {

                    }
                     });
                  }
                }catch (ex) {
        console.log(ex);
    }
                });

    function Validate() {
        if (!$("#staffName").val().trim()) {
            alert("Tên không được để trống");
            return false;
        }
        if (!$("#dpBirthday").val().trim()) {
            alert("Ngày sinh không được để trống");
            return false;
        }
        if (!$("#sex").val()) {
            alert("Giới tính không được để trống");
            return false;
        }
        if (!$("#address").val().trim()) {
            alert("Địa chỉ không được để trống");
            return false;
        }
        if (!$("#phone").val().trim()) {
            alert("Sđt không được để chống");
            return false;
        }

        if (!$("#identity").val().trim()) {
            alert("Số CMND không được để chống");
            return false;
        }

        return true;
    }
</script>