@using DataAccess
@using ObjectInfo
@{
    ViewData["Title"] = "Xem chi tiết thông tin khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MemberCardInfo _info = ViewBag.MemberCardInfo != null ? ViewBag.MemberCardInfo : new MemberCardInfo();
}

<div class="row">
    <h4 class="main-title">QUẢN LÝ KHÁCH HÀNG > XEM CHI TIẾT</h4>
</div>


<div class="row">
    <form id="formMemberCardSign">
        <div class="card">
            <div class="card-body">
                <div class="group">
                    <div class="title-group">
                        <h4 class="card-title ">Thông tin cá nhân</h4>
                        <hr >
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="flex-report">
                                <div class="title-report">Ảnh đại diện<span class="clr-red">(*)</span>:</div>
                                <div class="field-report">
                                    <div class="avatar">
                                        <input type="file" id="avatar" style="display: inline-block; width: 60%" disabled>
                                        <img id="preview_avt" style=" width: inherit;" src="@_info.ImgLink"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Họ và tên<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="txtName" autocomplete="off" value="@_info.Name" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Ngày sinh<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="txtBirthday" autocomplete="off" value="@(_info.Birthday.Date == DateTime.MinValue.Date ? "" : _info.Birthday.ToString("dd/MM/yyyy"))" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Số CCCD<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="txtIdentity" autocomplete="off" value="@_info.IdentityCard" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Nơi cấp CCCD<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="txtIdentityAddress" autocomplete="off" value="@_info.IdentityAddress" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Giới tính<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <select class="form-control input-width" id="slSex" disabled>
                                                @foreach (var item in AllcodeDA.GetByCDNameCDType("MEMBERCARD", "SEX"))
                                                {
                                                    @if (_info.Sex == item.CDVal)
                                                    {
                                                        <option selected value="@item.CDVal">@item.Content</option>

                                                    }
                                                    else
                                                    {
                                                        <option value="@item.CDVal">@item.Content</option>

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report" style="align-items: flex-start;">
                                        <div class="title-report">Địa chỉ<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <textarea id="txtAddress" autocomplete="off" style="height: 68px !important;" disabled>@_info.Address</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Ngày cấp CCCD<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="txtIdentityDate" autocomplete="off" value="@(_info.IdentityDate.Date == DateTime.MinValue.Date ? "" : _info.IdentityDate.ToString("dd/MM/yyyy"))" disabled> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="title-group">
                        <h4 class="card-title ">Thông tin liên hệ</h4>
                        <hr >
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Số điện thoại<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input type="text" id="txtPhone" autocomplete="off" value="@_info.Phone" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Email</div>
                                        <div class="field-report">
                                            <input type="text" id="txtEmail" autocomplete="off" value="@_info.Email" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group">
                    <div class="title-group">
                        <h4 class="card-title ">Thông tin khác</h4>
                        <hr >
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Trạng thái<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <select class="form-control input-width" id="slStatus" disabled>
                                                @foreach (var item in AllcodeDA.GetByCDNameCDType("MEMBERCARD", "STATUS"))
                                                {
                                                    @if (_info.Status == item.CDVal)
                                                    {
                                                        <option selected value="@item.CDVal">@item.Content</option>

                                                    }
                                                    else
                                                    {
                                                        <option value="@item.CDVal">@item.Content</option>

                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-form">
                            <button type="button" class="btn btn-danger px-5 ml-1" onclick="window.history.back();"><i class="bx bx-bookmark mr-1"></i>Thoát</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<script>
    
</script>