@using ConstData
@using ObjectInfo
@{
    ViewData["Title"] = "Cập nhật thông tin thành vên";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MemberInfo _info = ViewBag.MemberInfo != null ? ViewBag.MemberInfo : new MemberInfo();
    List<TypeMemberInfo> _lstTypeMember = ViewBag.LstTypeMember != null ? ViewBag.LstTypeMember : new TypeMemberInfo();
}
<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cập nhật thành viên</h4>
            <form class="forms-sample" id="formMemberUpdate">
                <input hidden value="@_info.Id" id="tmpId"/>
                <div class="form-group">
                    <label for="exampleInputUsername1">Tên thành viên<code>(*)</code></label>
                    <input type="text" class="form-control" id="memberName" placeholder="Tên thành viên" value="@_info.Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Loại thành viên<code>(*)</code></label>
                    <select class="form-control" id="cboTypeMember">
                        @foreach(var item in _lstTypeMember)
                        {
                            if(_info.IdTypeMember == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Ngày sinh<code>(*)</code></label>
                    <input type="date" class="form-control" id="dpBirthday" placeholder="" value="@_info.Birthday.ToString("yyyy-MM-dd")">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Giới tính<code>(*)</code></label>
                    <select class="form-control" id="sex">
                        @if(_info.Sex == MemberSex.nu)
                        {
                            <option value="Nữ" selected>Nữ</option>
                        }
                        else
                        {
                            <option value="Nữ">Nữ</option>
                        }

                        @if(_info.Sex == MemberSex.nam)
                        {
                            <option value="Nam" selected>Nam</option>
                        }
                        else
                        {
                            <option value="Nam">Nam</option>
                        }

                        @if(_info.Sex == MemberSex.khac)
                        {
                            <option value="Khác" selected>Khác</option>
                        }
                        else
                        {
                            <option value="Khác">Khác</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Địa chỉ<code>(*)</code></label>
                    <input type="text" class="form-control" id="address" placeholder="Địa chỉ" value="@_info.Address">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Số điện thoại<code>(*)</code></label>
                    <input type="text" class="form-control" id="phone" placeholder="Số diện thoại" value="@_info.Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Số CMND/CCCD<code>(*)</code></label>
                    <input type="text" class="form-control" id="identity" placeholder="Số CMND/CCCD" value="@_info.IdentityCard">
                </div>
                <button type="submit" class="btn btn-primary me-2">Lưu</button>
                <button class="btn btn-light" onclick="history.back();">Quay lại</button>
            </form>
        </div>
    </div>
</div>

<script>
    //submit
    $('#formMemberUpdate').on('submit', function (e) {
        try {
            e = window.event || e;
            e.preventDefault();

            if (Validate()) {
                var formData = new FormData(this);
                formData.set("Id", $("#tmpId").val());
                formData.set("IdTypeMember", $("#cboTypeMember").val());
                formData.set("Name", $("#memberName").val());
                formData.set("Birthday", $("#dpBirthday").val());
                formData.set("Address", $("#address").val());
                formData.set("Sex", $("#sex").val());
                formData.set("Phone", $("#phone").val());
                formData.set("IdentityCard", $('#identity').val());

                $.ajax({
                    type: 'PUT',
                    enctype: "multipart/form-data",
                    url: '/thanh-vien/cap-nhat',
                    data: formData,
                    beforeSend: function () {
                        
                    },
                    contentType: false, processData: false,
                    success: function (data) {
                        if (data != null) {
                            
                            if(data.success > 0){
                                alert(data.message);
                                setTimeout(() => {
                                    window.location.href = "/thanh-vien/danh-sach-thanh-vien";
                                }, 2000);
                            }else{
                                alert(data.message);
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    },
                    complete: function () {
                        
                    }
                });
            }
        } catch (ex) {
            console.log(ex);
        }
    });

    function Validate() {
        if (!$("#memberName").val().trim()) {
            alert("Tên không được để trống");
            return false;
        }
        if (!$("#cboTypeMember").val()) {
            alert("Phải chọn loại thành viên");
            return false;
        } 
        if (!$("#dpBirthday").val().trim()) {
            alert("Ngày sinh không được để trống");
            return false;
        }
        if (!$("#sex").val()) {
            alert("Giới tính không được để trống");
            return false;
        }
        if (!$("#address").val().trim()) {
            alert("Địa chỉ không được để trống");
            return false;
        }
        if (!$("#phone").val().trim()) {
            alert("Sđt không được để chống");
            return false;
        }

        if (!$("#identity").val().trim()) {
            alert("Số CMND không được để chống");
            return false;
        }
        
        return true;
    }
</script>